<div id="game">
    <div class="container-md">
        <div class="alert alert-secondary">
            Use the form below to set at least one platform, play window and activity.  Everything auto-saves.
        </div>
        <div id="game-form"></div>
        <div>
            <button class="btn btn-danger">Publish</button>
        </div>
    </div>
</div>
