<div id="drafts" class="container-md"></div>
<div id="games" class="container-md"></div>
<div id="nogames" class="container-md d-none">
    <div class="alert alert-secondary">
    You haven't joined any games yet.  Look for open <a href="/games">games</a> to join, or update your profile to 
    try to get more matches.  Check the <a href="/faq">FAQ</a> for more information.
    </div>
</div>
