<div id="profile">
  <div class="container-md">
    <div class="alert alert-secondary">
      Use the form below to set at least one platform, play window and activity.  Everything auto-saves.
    </div>
    <div id="profile-form"></div>
  </div>
</div>