rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId}/{subcollections=**} {
      allow read: if request.auth != null;
			allow create, update, delete: if request.auth.uid == userId && !('awards' in request.writeFields);
    }

    match /games/{gameId} {
      allow read;
      allow create, update, delete: if false;
    }

    match /games/{gameId}/players/{userId} {
      allow read;
      allow create, update, delete: if request.auth.uid == userId;
    }

    match /drafts/{userId}/{subcollections=**} {
      allow read: if request.auth != null;
			allow create, update, delete: if request.auth.uid == userId;
    }
  }
}