@font-face {
    font-family: 'Futura-Book';
    src: url('/fonts/futura-book.ttf') format('truetype'),
         url('/fonts/futura-book.woff') format('woff'),
         url('/fonts/futura-book.woff2') format('woff2');
}

body {
    color: white !important;
}

.bgimage {
    width:100%;
    height:450px;
    background: url('/img/header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    margin-bottom: 30px;
}

.bgimage div {
    max-height: 500px;
    overflow: hidden;
}

.bgimage img {
    display: inline-block;
    margin-top: 30px;
    height: 150px;
}

.bgimage h1 {
    font-family: 'Futura-Book', sans-serif;

    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.bgimage h3 {
    font-family: 'Futura-Book', sans-serif;
    margin-bottom: 35px;

}

.btn-hollow {
    background-color: black;
    border-color: #fe2400;
    color: #fe2400;
    min-width: 100px;
}

.bgimage .btn {
    width: 200px;
}

@media (max-width: 830px) {
    .bgimage { 
        height: 160px;
        background: url('/img/header-sm.jpg');

    }
    .bgimage img {
        height: 50px;
        margin-top: 15px;
    }
    .bgimage h1 {
        font-size: x-large;
        letter-spacing: normal;
    }
    .bgimage h3 {
        display: none;
    }

    .bgimage .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.765625rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        width: 100px;
    }
}

.lead {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

@media (max-width: 830px) {
    .lead {
        font-size: 1.0rem !important;
        font-weight: 300 !important;
    }
}

#landing-lead {
    margin-bottom: 50px;
}

#landing-features {
    font-size: 1.0rem;
}

#landing-features img {
    display: block;
    margin: 0 auto 15px auto;
    width: 64px;
}

#landing-features p {
    text-align: justify;
}

#profile, #games {
    margin-top: 20px;
}

.btn-danger:hover, .btn-primary:hover,
.btn-danger:visited, .btn-primary:visited,
.btn-danger:focus, .btn-primary:focus
 {
    border-color: #fe2400;
    color: white !important;
    background-color: #fe2400 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
 }

.icon {
    width: calc(1.5em + .5rem);
    height: calc(1.5em + .5rem);
    padding-top: .25rem;
    stroke: #fe2400;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    -webkit-transition:fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
    transition:fill 0.15s ease-in-out, stroke 0.15s ease-in-out;

}

  .icon:hover {
      stroke: white;
      fill: #fe2400;

  
    }

  .clickable {
    cursor: pointer;
  }

  .help {
    stroke: #999;
    width: calc(1rem );
    height: calc(1rem);
    margin-left: 3px;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

 